body {
  background-color: #161419;
  color: #8e4ee0;
}

header{
    text-align: center;
    padding: 2%;
    font-size: 40px;
    text-shadow: 2px 2px 4px red;    
}

aside{
    font-size: 20px;
    width: 10%;
    height: 100%;
    padding-right: 10px;
    padding-bottom: 500px;
    float: left;
    background: #660adb;
    color: Black;
    font-weight: bold;
}

#aside h4{
    text-align: center;
    color: #15141b;
    font-size: 25px;
}

#aside a{
    color: #15141b;
    margin-right: 140px;
    font-size: 20px;
}

a{
    color: #8e4ee0;
}

P {
    font: Verdana;
    text-align: center;
    font-size: 22px;
    background-color: #29055c;
    padding: 20px;
}

h2{
    color: #660adb;
    font-size: 60px;
    text-align: center; 
    padding-top: 100px; 
    padding-bottom: 50px
}

h3{
    color: #660adb;
    font-size: 35px;
}

#C{
    display: inline-block;
    height: 200px;
    margin-right: 50px;
}

#linksCompra{
    display: inline-block;
    padding-bottom: 50px;
    margin-left: 400px;
    height: 100%;
    vertical-align: top;
}
